<!-- The choice script -->

<div class="ui stackable container" id="bookmarks_choice">
	<div class="ui stackable relaxed grid">
		<div class="row">
			<div class="three wide column">
			</div>
			<div class="five wide column">
				<a href="<%= overview_bookmarks_path%>" id="button">
					<i class="huge world icon"></i> 
					OverView
				</a>
			</div>
			<div class="five wide column">
				<a href="<%= new_bookmark_path%>" id="button">
					<i class="add huge circle icon"></i>
					Add BookMark
				</a>
			</div>
			<div class="three wide column">
				<div class="ui big header">Popular ones</div>
				<div class="ui big header">RSS Links</div>
			</div>
		</div>
		<div class="row">
			<div class="three wide column">	
			</div>
			<div class="five wide column">
				<a href="<%= bookmarks_path%>" id="button">
					<i class=" huge desktop icon"></i>
					Index Page
				</a>
			</div>
			<div class="five wide column">
				<a href="#" id="button">
					<i class="huge user icon"></i>
					My BookMark
				</a>
			</div>
			<div class="three wide column">
			</div>
		</div>
	</div>
</div>
