<!-- The edit script -->

<div class="ui stackable container" id="bookmarks_edit">
	<!-- Header -->
	<div class="ui stackable grid">
		<div class="fourteen wide centered column">
			<div class="ui huge header">Edit BookMark</div>
		</div>
	</div>
	<!-- Main Content -->
	<%= form_for @bookmark, html: {class: "ui form"}  do |f| %>
	<div class="ui stackable grid">
		<div class="one wide column"></div>
		<div class="twelve wide column">
			<form class="ui large form">
				<h3 class="ui dividing header"><em>Modify Your Favorite? Let's Do It!</em></h3><br>
				<div class="field">
					<label>Website Link</label>
				</div>
				<div class="sixteen wide field">
					<%= f.text_field :website, placeholder: 'Paste Your Link Here' %>
				</div>
				<div class="two fields">
					<div class="four wide field">
						<label>Category</label>
						<%= f.select(:category, options_for_select([['Restaurant'], ['Travel Attraction'], ['Hotel/B&B'], ['News'], ['Technology'], ['Recipe'], ['Sport'], ['Job'], ['Others']])) %>
					</div>
					<div class="ten wide field">
						<%= f.submit "Submit", class: "ui right floated large basic button" %>
					</div>
				</div>
			</form>
		</div>
		<div class="three wide column">
		</div>
	</div>
	<% end %>
</div>
		
