<!-- The edit script -->

<div class="ui stackable container" id="bookmarks_edit">
	<!-- Header -->
	<div class="ui stackable grid">
		<div class="fourteen wide centered column">
			<div class="ui huge header">Edit BookMark</div>
		</div>
	</div>
	<!-- Main Content -->
	<div class="ui stackable grid">
		<div class="one wide column"></div>
		<div class="twelve wide column">
			<form class="ui large form">
				<h3 class="ui dividing header"><em>Modify Your Favorite? Let's Do It!</em></h3><br>
				<div class="field">
					<label>Website Link</label>
				</div>
				<div class="sixteen wide field">
					<input name="website" placeholder="  Link here" type="text">
				</div>
				<div class="two fields">
					<div class="four wide field">
						<label>Category</label>
						<select class="ui dropdown">
							<option value="restaurant">Restaurant</option>
							<option value="travel">Travel Attraction</option>
							<option value="hotel">Hotel/B&B</option>
							<option value="news">News</option>
							<option value="tech">Technology</option>
							<option value="recipe">Recipe</option>
							<option value="sport">Sport</option>
							<option value="job">Job</option>
							<option value="other">Others</option>
						</select>
					</div>
					<div class="ten wide field">
						<button class="ui right floated large basic button" type="submit"><strong>Update</strong></button>
					</div>
				</div>
			</form>
		</div>
		<div class="three wide column">
		</div>
	</div>
</div>
		
