<!-- The index script -->

<div class="ui fluid container" id="bookmarks_index">
	<div class="ui center aligned grid"><br>
		<h1 class="ui header">Welcome To <span>BookMark</span> !</h1><br>
<!--		<%= image_tag("bookmarks/1.jpg", size:"470x100") %> -->
	</div>
	<div class="ui divider"></div><br>
	
	<div class="ui doubling stackable grid container">
		<div class="row">
			<div class="two wide column"></div>
			<div class="four wide column" id="bulletin">
				<div class="ui huge center aligned header"><span>FIRST</span> &nbsp;&nbsp;&nbsp;&nbsp;Time To Be Here ?</div>
				<div class="ui divider"></div>
				<div class="ui big header">
					It's a Place for you to gather all the websites you like, and you can even sort them as you want !<br>
					Check them out whenever you need them ~<br> 
				</div>
				<div class="ui large red center aligned header">
					Sounds Amazing Right?
				</div>
			</div>
			<div class="four wide center aligned column" id="bulletin_button"><br><br><br>
				<div class="ui huge center aligned header">No Hesitation !</div>
				<button class="ui red big basic button">
					<i class="red large lightning icon"></i>
					<strong>TRY Now</strong>
				</button>	<br><br>
				<div class="ui small center aligned header">Already Known Well !</div>
				<button class="ui purple small basic button">
					<i class="purple small send icon"></i>
					<strong>Continue</strong>
				</button>
			</div>
			<div class="four wide column" id="bulletin">
				<div class="ui huge center aligned header">What We Can Do..</div>
				<div class="ui divider"></div>
				<div class="ui large middle relaxed aligned bulleted list">
					<div class="item"><span>Collect</span> Your Website Links</div>
					<div class="item"><span>Sort</span> Your Website Links</div>
					<div class="item"><span>Get</span> Your Website Right Away</div>
				</div>
				<div class="ui large red center aligned header">
					Why Not Join Us?
				</div>
			</div>
			<div class="two wide column"></div>
		</div>
	</div>
	</div>
</div>

