<!-- The overview script -->

<div class="ui stackable container" id="bookmarks_overview">
	<!-- Header -->
	<div class="ui stackable grid">
		<div class="fourteen wide centered column">
			<div class="ui huge header">BookMark OverView</div>
		</div>		
	</div>
	<!-- Main Content -->
	<div class="ui stackable grid">
		<div class="thirteen wide column">
			<div class="ui top attached stackable tabular menu">
				<a class="active item" data-tab="all">All</a>
				<a class="item" data-tab="restaurant">Restaurant</a>
				<a class="item" data-tab="travel">Travel Attraction</a>
				<a class="item" data-tab="hotel">Hotel/B&B</a>
				<a class="item" data-tab="news">News</a>
				<a class="item" data-tab="tech">Technology</a>
				<a class="item" data-tab="recipe">Recipe</a>
				<a class="item" data-tab="sport">Sport</a>
				<a class="item" data-tab="job">Job</a>
				<a class="item" data-tab="other">Others</a>
			</div>
			<div class="ui active bottom attached tab segment" data-tab="all">
			</div>
			<div class="ui bottom attached tab segment" data-tab="restaurant">
			</div>
			<div class="ui bottom attached tab segment" data-tab="travel">
			</div>
			<div class="ui bottom attached tab segment" data-tab="hotel">
			</div>
			<div class="ui bottom attached tab segment" data-tab="news">
			</div>
			<div class="ui bottom attached tab segment" data-tab="tech">
			</div>
			<div class="ui bottom attached tab segment" data-tab="recipe">
			</div>
			<div class="ui bottom attached tab segment" data-tab="sport">
			</div>
			<div class="ui bottom attached tab segment" data-tab="job">
			</div>
			<div class="ui bottom attached tab segment" data-tab="other">
			</div>
		</div>
		<div class="three wide column">
			<div class="ui big header">Popular ones</div>
			<div class="ui big header">RSS Links</div>
		</div>
	</div> 
</div>
