// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";

div #bookmarks_edit {
	background-color: white;
	
	.huge.header {
		padding-top: 20px;
	}
	
	.ten.wide.field {
		padding-top: 25px;
	}
	
}
