// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";

div #bookmarks_overview {
	background-color: white;
	padding-bottom: 150px;
	
	.huge.header {
		padding-top: 20px;
	}
	
	.eight.wide.column {
		padding-top: 30px;
	}
	
	.stackable.grid .thirteen.wide.column {
		padding-left: 40px;
		padding-top: 0px;
	}


}


