// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

body#welcomes_index{
  
  background-color:#75DDFF;
  #home_button {
    width:200px;
  }

  #divider_comment {
    color:#111111;
  }
}
