<html>
    <head>
        <title>Hello!</title>
    </head>
    <body style="background-color: #222222;">
        <%= image_tag("icon/author.jpg",:style=>"") %>
        <h2 style="color:red">What an Ugly Man I've Never Ever Seen !!</h2>
        <h3 style="color:yellow">Is there anyone can beat him down? God help us !</h3>
    </body>
</html>

