// Place all the styles related to the introduces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#introduces_member{
  #member_intro_div{
    color:white;
    .member_picture{
      width:400px;
      height:400px;
    }
  }
}
