<html>
	<head>
	</head>
	<body>
		<div class="ui center aligned segment">
			<a class="ui massive red circular label">Welcome </a>
			<a class="ui massive purple  circular label">To </a>
			<a class="ui massive yellow  circular label">Cloud </a>
			<a class="ui massive green  circular label">Secretary </a>
			<a class="ui massive blue  circular label">!</a>
		</div>
		<div class="ui horizontal divider">
			Or
		</div>
		<div class="ui center aligned segment">
			<div class="ui teal labeled icon button">
				Sign In Now !
				<%=semantic_icon('add')%>
			</div>
		</div>
	</body>
</html>
