body#layout_menu{
  background-color:#75DDFF;
  #web_logo_img{
    width:55px;
    height:55px;
  }
  #main_content{
    padding-top:70px;
    background-color: #D6F0ED;
    //background-color:rgba(33,119,208,0.36);
  }
}
