<div id="cost_manager">
  <div class='ui center aligned grid'>
    <div class='ui twelve wide column'>
      <%= image_tag("icon/web_logo.png",:class=>'ui centered small image')%>      
    </div>
    <div class='ui horizontal divider'>
    </div>
    <div class='ui ten wide column'>
      <a class='ui red massive button' href='<%=cost_manager_path(0)%>'>
        Your Cost Manager!
      </a>
    </div>
  </div>
</div>
